In [1]:
# sets store unique values and in random order

In [2]:
s = set([1, 2, 3, 1, 34, 1, 4])
print(s)

{1, 2, 3, 34, 4}

In [4]:
s2 = {1, 1, 41, 22 ,9}
print(s2)

{1, 9, 22, 41}

In [5]:
s2.add(50)
print(s2)

{1, 9, 41, 50, 22}

In [14]:
s | s2               # union
s.union(s2)          # union 
# both of them do not change the original set

{1, 2, 3, 4, 9, 22, 34, 41, 50}

In [17]:
s & s2                     # intersection
print(s.intersection(s2))
print(s)
print(s2)

{1}
{1, 2, 3, 34, 4}
{1, 9, 41, 50, 22}

In [20]:
s - s2                   # print elements in s which are missing in s2
s.difference(s2)

{2, 3, 4, 34}

In [21]:
if 4 in s:
    print("present")
else:
    print("not present")

present

In [22]:
a1 = {1,2 ,3, 4}
a2 = {3, 4, 5, 6, 7}
print(a1 ^ a2)                         # elements present in only 1 set

{1, 2, 5, 6, 7}