In [1]:
str1 = "Capital of India is Delhi"
print(str1)

Capital of India is Delhi

In [2]:
str2 = ("Capital of %s is %s" % ("India", "Delhi"))
print(str2)

Capital of India is Delhi

In [4]:
str3 = "Capital of {} is {} and it is located at {}, {}".format("India", "Delhi", 77.3, 20.5)
print(str3)

Capital of India is Delhi and it is located at 77.3, 20.5

In [5]:
print("Hello")
print("world")

Hello
world

In [6]:
print("hello", end = " ")
print("world")

hello world

In [7]:
print("Hello", "World", sep = "$$")

Hello$$World

In [8]:
name = input()
print("Hello " + name)

Arjun
Hello Arjun

In [11]:
# input() basically takes a string

In [12]:
number = int(input())

10

In [14]:
print(number)
print(type(number))
print(type(name))

10
<class 'int'>
<class 'str'>

In [17]:
numbers = "10 20 30 40".split()

In [18]:
print(numbers)

['10', '20', '30', '40']

In [19]:
# array of string to be converted in integer array

In [20]:
nums = [int(no) for no in numbers]
print(nums)

[10, 20, 30, 40]

In [21]:
numbers = [int(no) for no in input().split()]

10 20 30 40 50

In [22]:
print(numbers)

[10, 20, 30, 40, 50]

In [23]:
# take array as input

In [24]:
10*3

30

In [25]:
10/3

3.3333333333333335

In [26]:
10//3

3

In [27]:
# floored division

In [28]:
5**3

125

In [29]:
# same camparison, logical and assignment operators as in c++

In [32]:
weather = "sunny"
temp = 30

if (weather == "sunny") and (temp >= 30):
    print("Hot weather")
else : 
    print("nice weather")

Hot weather

In [33]:
# logical operators: and, or, not

In [34]:
weather = "sunny"
temp = 30

if (not weather == "sunny") and (temp >= 30):
    print("Hot weather")
else : 
    print("nice weather")

nice weather

In [38]:
x = int(input())
if (x < 0):
    print("Negative Number")
elif (x == 0):
    print("Zero")
else:
    print("Positive Number")

-89
Negative Number

In [39]:
# loops in python

In [48]:
n = 10
i = 1

while (i <= 10):
    print(i, end = ", ")
    i = i+1

1, 2, 3, 4, 5, 6, 7, 8, 9, 10,

In [46]:
for i in range(1, 11, 2):
    print("number is ", i)

number is  1
number is  3
number is  5
number is  7
number is  9

In [56]:
for i in range (5):
    for j in range(5):
        print(max(i, j), end = " ")
    print()

0 1 2 3 4
1 1 2 3 4
2 2 2 3 4
3 3 3 3 4
4 4 4 4 4

In [57]:
for i in range(1, 10):
    if(i == 5):
        break
        
    print(i, end = " ")

1 2 3 4

In [58]:
for i in range(1, 10):
    if(i == 5):
        continue
        
    print(i, end = " ")

1 2 3 4 6 7 8 9

In [59]:
# prime numbers upto n
n = 100

for i in range(2, 100, 1):
    prime = True
    
    for j in range(2, i):
        if(i % j == 0):
            prime = False
            break;
            
    if (prime == True):
        print(i, end = " ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [60]:
def myFunc(score, lang, rollNo):
    print("I scored %d marks in %s" % (score, lang))
    print("My roll no. is %d" % (rollNo))
    
myFunc(10, "Python", 1557)

I scored 10 marks in Python
My roll no. is 1557

In [1]:
def myFunc(score, lang, rollNo):
    print("I scored %d marks in %s" % (score, lang))
    print("My roll no. is %d" % (rollNo))
    
# arguments can be passed in any order using this technique
myFunc(rollNo = 1557, lang = "Python", score = 10)

I scored 10 marks in Python
My roll no. is 1557